.comment-list-info {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.comment-count {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-text-color);
  margin-right: 28px;
}

.comment-sort {
  display: flex;
  align-items: center;
}

.comment-sort > svg {
  font-size: 2.4rem;
  margin-right: 8px;
}

.comment-sort > span {
  font-size: 1.4rem;
}

.btn-show-more {
  margin: 20px auto 30px;
  padding: 8px 12px;
  background-color: var(--background-btn-color);
  color: var(--secondary-text-color);
}