:root {
  --primary-color: #E33C28;
  --primary-text-color: #260B0C;
  --text-color-alpha: rgba(0, 0, 0, 0.6);
  --secondary-text-color: #606060;
  --nav-text-color: #030303;
  --nav-hover-color: #F2F2F2;
  --nav-active-hover-color: #D9D9D9;
  --nav-active-color: #E5E5E5;
  --background-btn-color: #F0F0F0;
  --border-color: #ccc;
  --search-box-height: 29px;
  --header-height: 56px;
  --margin-lr-container: 28px;
  --side-bar-width: 240px;
  --side-bar-tablet-width: 75px;
  --background-color: #fff;
  --gray-background-color: #F9F9F9;
  --active-text-color: #030303;
  --btn-search-hover: #e9e9e9;
  --side-bar-item-line-break-color: rgba(0, 0, 0, 0.1);
  --search-bar-input-background-color: #fff;
  --search-bar-input-color: #121212;
  --link-color: #065FD4;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 2rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--background-color);
}

.container {
  max-width: 100%;
  margin: 0 var(--margin-lr-container);
}

.dark-mode {
  --background-color: #202020;
  --nav-text-color: #fff;
  --gray-background-color: #181818;
  --primary-text-color: #fff;
  --secondary-text-color: #AAAAAA;
  --background-btn-color: #323232;
  --text-color-alpha: rgb(97,97,97, 0.9);
  --btn-search-hover: #3a3838;
  --nav-hover-color: #383838;
  --nav-active-color: #383838;
  --nav-active-hover-color: #4D4D4D;
  --active-text-color: #fff;
  --side-bar-item-line-break-color: rgba(255, 255, 255, 0.1);
  --search-bar-input-background-color: #121212;
  --search-bar-input-color: #fff;
  --border-color: #303030;
  --link-color: #3EA6FF;
}

.react-icons {
  color: var(--secondary-text-color);
  font-size: 2.2rem;
  vertical-align: middle;
}

.dark-mode .react-icons {
  color: white;
}

@media (max-width: 599px) {
  :root {
    --margin-lr-container: 10px;
  }
}