.header-btn {
  cursor: pointer;
  position: relative;
  color: var(--secondary-text-color);
  height: var(--search-box-height);
  background: none;
  border: none;
}

.header-btn:focus {
  outline: unset;
}

.header-btn.has-after:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 45px;
  left: 0;
  white-space: nowrap;
  padding: 6px;
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--text-color-alpha);
  color: #fff;
}

.btn--search {
  background-color: var(--background-btn-color);
  border: 1px solid var(--border-color);
  border-left: none;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 65px;
  margin-left: 0;
}

.dark-mode .btn--search {
  border: none;
}

.btn--search:hover {
  background-color: var(--btn-search-hover);
}

.btn-no-border {
  margin-left: 5px;
}

.btn--search-mobile {
  display: none;
  position: unset;
  margin-left: auto;
  text-align: right;
  padding: 0 10px;
}

.btn--user {
  margin: 10px;
}

/* Mobile */
@media (max-width: 739px) {
  .btn-no-border {
    display: none;
  }

  .header__search-bar {
    display: none;
  }

  .search-bar {
    transform: translateY(calc(var(--header-height) * -1));  
  }

  .header__user > :not(.user) {
    display: none;
  }

  .user__darkmode {
    display: block !important;
  }

  .btn--search-mobile {
    display: block;
  }
  
}

@media (max-width: 599px) {
  .header__logo-bars {
    display: none;
  }
}

@media (min-width: 740px) and (max-width: 885px) {
  .btn--user {
    margin: 3px;
  }
}