.side-bar {
  width: var(--side-bar-width);
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  overflow-y: hidden;
  z-index: 999;
}

.side-bar:hover {
  overflow-y: auto;
}

.side-bar__list {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.side-bar--tablet {
  width: var(--side-bar-tablet-width);
}

.side-bar.side-bar--tablet:hover {
  overflow-y: hidden;
}

.break-line {
  margin: 12px 12px 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-bar.side-bar--tablet .break-line {
  display: none;
}

@media (max-width: 599px) {
  .side-bar {
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .side-bar__list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
  }

  .side-bar .side-bar__item .side-bar__link {
    padding: 5px 0 0 0;
  }

  .side-bar .side-bar__item .side-bar__link > svg {
    margin-bottom: 2px;
  }
}