.side-bar {
  width: 240px;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  overflow-y: hidden;
}

.side-bar:hover {
  overflow-y: auto;
}

.side-bar--tablet {
  width: 75px;
}

.side-bar.side-bar--tablet:hover {
  overflow-y: hidden;
}

@media (max-width: 739px) {
  .side-bar {
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .side-bar .side-bar__item .side-bar__link {
    padding: 5px 0 0 0;
  }
}