.side-bar__link {
  display: block;
  text-decoration: none;
  color: var(--nav-text-color);
  padding: 10px 25px 10px 28px;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.side-bar__link:hover {
  background-color: var(--nav-hover-color);
}

.side-bar__link.active {
  background-color: var(--nav-active-color);
}

.side-bar__link.active:hover {
  background-color: var(--nav-active-hover-color);
}

.side-bar__link.active > svg {
  color: var(--primary-color);
}

.side-bar__link.active .side-bar__title {
  color: var(--active-text-color);
  font-weight: 500;
  line-height: 18px;
}

.side-bar__title {
  padding-left: 20px;
}

.side-bar--tablet .side-bar__link {
  flex-direction: column;
  padding: 16px 0 14px;
  margin: 0;
}

.side-bar--tablet .side-bar__link.active {
  background-color: unset;
}

.side-bar--tablet .side-bar__link .side-bar__title{
  font-size: 1rem;
  padding: 0;
  color: var(--secondary-text-color);
}

.side-bar--tablet .side-bar__link > svg {
  margin-bottom: 7px;
}

.side-bar--tablet .side-bar__link.active .side-bar__title{
  color: var(--primary-color);
}

.side-bar--tablet .side-bar__item:not(.show-on-tablet) {
  display: none;
}
