.side-bar {
  width: 240px;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
}

.side-bar {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  overflow-y: hidden;
  /* transition: all ease-out .2s; */
}

.side-bar:hover {
  overflow-y: auto;
}

.side-bar--tablet {
  width: 75px;
}

.side-bar.side-bar--tablet:hover {
  overflow-y: hidden;
}