.video-item {
  flex: 0 0 25%;
  max-width: 25%;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 40px;
}

.video-item__thumbnail {
  position: relative;
}

.video-item__thumbnail-preview {
  height: 134px;
}

.video-item__thumbnail-img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  display: block;
}

.video-item:hover .video-item__thumbnail-item {
  display: inline;
}

.video-item__thumbnail .video-item__thumbnail-item > svg {
  color: #fff;
  font-size: 1.7rem;
  vertical-align: middle;
}

.video-item__thumbnail-item {
  --thumbnail__item-width: 25px;
  --thumbnail__item-height: 25px;
  background-color: rgba(2,2,2, 0.8);
  padding: 2px 3px;
  position: absolute;
  top: 3px;
  right: 3px;
  width: var(--thumbnail__item-width);
  height: var(--thumbnail__item-height);
  text-align: center;
  border-radius: 1px;
  z-index: 9;
  display: none;
}

.video-item__thumbnail-item:last-child {
  top: 32px;
}

.video-item__thumbnail-item::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(2,2,2, 0.8);
  animation: thumbnailHoverAppear ease .3s;
  animation-fill-mode: forwards;
  z-index: -9;
  align-items: center;
  display: none;
}

.video-item__thumbnail-item:hover::before {
  display: flex;
  background-color: rgba(2,2,2);
}

.video-item__thumbnail-item:hover {
  background-color: rgba(2,2,2);
}

@keyframes thumbnailHoverAppear {
  from {
    right: 0;
  } to {
    right: var(--thumbnail__item-width);
  }
} 

.video-item__thumbnail-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: #fff;
  background-color: rgba(2,2,2, 0.9);
  padding: 0px 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

.video-item__details {
  display: flex;
  padding-top: 12px;
  padding-right: 24px;
}

.video-item__details-meta {
  flex: 1;
}

.video-item__details-avatar {
  margin-right: 12px;
}

.video-item__details-avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.video-item__details-meta__title {
  margin: 0 0 6px 0;
}

.video-item__details__title-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.text-clamp.text-clamp--1 {
  -webkit-line-clamp: 1;
}

.video-item__details-meta__channel {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--secondary-text-color);
}

.video-item__details-meta__statistic {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.video-item__details-meta__statistic > svg {
  font-size: .7rem;
  margin: 0 3px;
}

.iframe-container {
  position: relative;
  height: 100%;
}

.iframe__loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.iframe__loader.is-loaded {
  display: none;
}

.iframe__video {
  opacity: 0;
}

.iframe__video.is-loaded {
  opacity: 1;
}

/* Video item full width modifier */
.video-item--w100 .video-item__thumbnail-preview {
  height: 202px;
}

.video-item--w100 {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
}

.video-item--w100 .video-item__thumbnail {
  max-width: 360px;
  min-width: 240px;
  flex: 1;
  margin-right: 16px;
}

.video-item--w100 .video-item__details {
  flex: 1;
}

.video-item--w100 .video-item__details__title-link {
  font-size: 1.8rem;
  font-weight: 400;
}

.video-item__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-top: 8px;
}

.video-item--w100.video-item {
  margin-bottom: 16px;
}

/* video-item--related */
.video-item--related {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 8px;
}

.video-item--related .video-item__details-avatar {
  display: none;
}

.video-item--related .video-item__thumbnail {
  flex: 0 0 40%;
  max-width: 40%;
  margin-right: 8px;
}

.video-item--related .video-item__thumbnail-preview {
  max-height: 92px;
}

.video-item--related .video-item__details {
  flex: 0 0 60%;
  max-width: 60%;
  padding-top: 0;
}

@media (min-width: 1400px) {
  .video-item__thumbnail-preview {
    height: 200px;
  }
}

@media (min-width: 886px) and (max-width: 1125px) {
  .video-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .video-item.video-item--w100 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .video-item.video-item--related {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .video-item__thumbnail-preview {
    height: 150px;
  }
}

@media (max-width: 885px) {
  .video-item.video-item--w100 .video-item__details {
    padding-top: 0;
    padding-right: 0;
  }
}

@media (min-width: 600px) and (max-width: 885px) {
  .video-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .video-item.video-item--w100 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .video-item.video-item--related {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .video-item__thumbnail-preview {
    height: 185px;
  }

  .video-item--w100 .video-item__details {
    flex-direction: column;
  }
}

@media (max-width: 599px) {
  .video-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .video-item__thumbnail-preview {
    height: 252px;
  }

  .video-item--w100.video-item {
    flex-direction: column;
  }

  .video-item--w100.video-item {
    padding-left: 24px;
    padding-right: 24px
  }

  .video-item--w100 .video-item__thumbnail {
    max-width: 100%;
    margin-right: 0;
  }

  .video-item--w100.video-item .video-item__details {
    margin-top: 16px;
  }
}